.footer {
	
	margin-left: 746px;
	font-size: 79px;
}

.work1 {
	margin-left: 99px;
	font-weight: bold;
	font-size: 19px;

	


}

.work2 {
	margin-left: 155px;
	font-weight: bold;
	font-size: 19px;

}


.work3 {
	margin-left: 155px;
	font-weight: bold;
	font-size: 19px;
}

h1 {
	text-align: center;

}

h2 {
	text-align: center;
	margin-bottom: 15px;

}

h3 {
	text-align: center;
	margin-bottom: 75px;
}




.button {
	margin-top: 200px;
}

.canvas {
	margin-top: 66px;
}

.social {
	text-align: center;
}

