.footer {
	margin-left: 290px;
}
.twitter {
	margin-right: 50px;
}
.github {
	margin-left: 50px;
}

.info {
	text-align: center;
}

body
{
	background-image: url("../wallpaper1024_768.jpg");
	background-size:     auto;             
    background-repeat:   no-repeat;
    text-decoration: none
    /*background-position: center center; */
 }
.work {
	margin-left: 110px;

}

/*.work2 {
	margin-left: 155px;
	font-weight: bold;
	font-size: 19px;

}*/


/*.work3 {
	margin-left: 155px;
	font-weight: bold;
	font-size: 19px;
}*/

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	

}

h3 {
	text-align: center;

}


/*.button {
	margin-top: 20px;
}*/

.canvas {
	margin-top: 16px;
	margin-right: 46px;
	
}

.social {
	text-align: center;

}

.blog {
	text-align: center;
	
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 20px;
	text-align: center;
}

.blog {
	margin-left: 50px;
}

.contact {
	margin-left: 760px
}

.send {
	margin-top: 35px
}
